.luxe-header {
  height: 70px;
  background: #000;
  border-bottom: 1px solid #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.gold-dot {
  width: 8px;
  height: 8px;
  background: #d4af37;
  border-radius: 50%;
  box-shadow: 0 0 10px #d4af37;
}

.brand h1 {
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 4px;
  font-weight: 300;
  margin: 0;
  cursor: pointer;
}

.divider {
  width: 1px;
  height: 30px;
  background: #222;
}

.res-name {
  color: #d4af37;
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

/* PERFIL DE USUARIO */
.user-badge {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 15px;
  background: #080808;
  border: 1px solid #111;
  border-radius: 40px;
}

.user-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.user-role {
  color: #555;
  font-size: 0.6rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.user-id {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 300;
}

.avatar {
  width: 32px;
  height: 32px;
  background: #d4af37;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 0.8rem;
}

/* BOTÓN LOGOUT */
.btn-logout {
  background: none;
  color: #444;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.btn-logout:hover {
  color: #ff4444;
}

.material-icons {
  font-size: 20px;
}