<div class="register-view">
  <div class="register-card">
    <h1 class="register-title">REGISTRO</h1>

    <form class="register-form">
      <div class="field-group">
        <label>Nombre completo</label>
        <input type="text" placeholder="Ej. Paola Guerrero">
      </div>

      <div class="field-group">
        <label>Usuario</label>
        <input type="text" placeholder="Ej. Paoguer">
      </div>

      <div class="field-group">
        <label>Contraseña</label>
        <input type="password">
      </div>

      <div class="field-group">
        <label>Confirmar contraseña</label>
        <input type="password">
      </div>

      <div class="field-group">
        <label>Correo electrónico</label>
        <input type="email" placeholder="p.gro.ang24@gmail.com">
      </div>

      <div class="field-group">
        <label>Teléfono</label>
        <input type="tel" placeholder="7298966578">
      </div>

      <div class="form-buttons">
        <button type="button" (click)="regresar()" class="btn-confirm">CREAR CUENTA</button>
        <button type="button" (click)="regresar()" class="btn-cancel">CANCELAR</button>
      </div>
    </form>
  </div>
</div>