<div class="dashboard-wrapper">
  <header class="top-banner">
    <img src="assets/logoprimereserve.png" alt="Prime Reserve Logo" class="banner-logo">
  </header>

  <main class="main-content">
    
    <div *ngIf="showLogo()" class="welcome-container">
      <h2 class="welcome-text">BIENVENIDO A PRIME RESERVE</h2>
      <p class="subtitle">Selecciona una opción para continuar</p>
      
      <div class="central-actions">
        <button routerLink="register" class="btn-main">REGISTRARSE</button>
        <button routerLink="login" class="btn-main">INICIAR SESIÓN</button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </main>
</div>