<div class="register-container">
  <div class="register-card">
    <h1 class="form-title">Registro de Usuario</h1>

    <form class="register-form">
      <div class="input-group">
        <label for="nombre">Nombre completo</label>
        <input type="text" id="nombre" placeholder="Ej. Paola Guerrero">
      </div>

      <div class="input-group">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" placeholder="Ej. Paoguer">
      </div>

      <div class="input-group">
        <label for="pass">Contraseña</label>
        <input type="password" id="pass">
      </div>

      <div class="input-group">
        <label for="confirm">Confirmar contraseña</label>
        <input type="password" id="confirm">
      </div>

      <div class="input-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" placeholder="Ej. p.gro.ang24@gmail.com">
      </div>

      <div class="input-group">
        <label for="tel">Teléfono</label>
        <input type="tel" id="tel" placeholder="Ej. 7298966578">
      </div>

      <div class="actions">
        <button type="button" (click)="regresar()" class="btn-create">CREAR CUENTA</button>
        <button type="button" (click)="regresar()" class="btn-cancel">CANCELAR</button>
      </div>
    </form>
  </div>
</div>