<div class="client-dashboard">
  <header class="client-header">
    <div class="brand-info">
      <img src="assets/logoprimereserve.png" alt="Logo Prime Reserve" class="nav-logo">
      <h2 class="role-badge">PANEL DE CLIENTE</h2>
    </div>
    <button (click)="cerrarSesion()" class="btn-logout">CERRAR SESIÓN</button>
  </header>

  <main class="dashboard-content">
    <div *ngIf="router.url === '/cliente'" class="menu-grid">
      <h1 class="main-title">¿Qué deseas hacer hoy?</h1>

      <div class="actions-container">
        <button routerLink="reservas" class="card-btn">
          <span class="btn-text">MIS RESERVACIONES</span>
        </button>
        
        <button routerLink="menu" class="card-btn">
          <span class="btn-text">VER MENÚ</span>
        </button>

        <button routerLink="lista-espera" class="card-btn">
          <span class="btn-text">LISTA DE ESPERA</span>
        </button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </main>
</div>