<div class="dashboard-2-wrapper">
  <header class="banner-superior">
    <img src="assets/logoprimereserve.png" alt="Logo Prime Reserve" class="logo-header">
  </header>

  <main class="main-content">
    <div *ngIf="router.url === '/dashboard-2'" class="welcome-box">
      <h1 class="welcome-title">BIENVENIDO A PRIME RESERVE</h1>
      <p class="welcome-subtitle">Gestión de Reservaciones y Restaurante</p>
      
      <div class="button-group-central">
        <button routerLink="/login-2" class="btn-xl">INICIAR SESIÓN</button>
        <button routerLink="registro" class="btn-xl">CREAR CUENTA</button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </main>
</div>