<div class="login-wrapper">
  <button (click)="regresarAlInicio()" class="btn-back">← VOLVER</button>

  <div class="login-card">
    <h1 class="login-title">LOGIN</h1>
    
    <form class="login-form">
      <div class="input-container">
        <label>USUARIO</label>
        <input type="text" placeholder="Ej. Paoguerr">
      </div>

      <div class="input-container">
        <label>CONTRASEÑA</label>
        <input type="password" placeholder="**************">
      </div>

      <div class="input-container">
        <label>TIPO DE USUARIO</label>
        <select #rolSelect>
          <option value="cliente">Cliente</option>
          <option value="admin">Administrador</option>
          <option value="mesero">Mesero</option>
          <option value="cocina">Cocina</option>
        </select>
      </div>

      <button type="button" (click)="acceder(rolSelect.value)" class="btn-login">
        INICIAR SESIÓN
      </button>
    </form>
  </div>
</div>